html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que a altura cubra a tela inteira */
  display: flex;
  flex-direction: column;
  background: rgb(26, 23, 54);
  font-family: "Poppins";
}
h1 {
  text-align: center;
  color: antiquewhite;
  background-color: blueviolet;
  border-radius: 90px;
  margin: 30px;
}

footer {
  position: fixed; /* Fixa o footer na posição*/
  bottom: 0; /* Garante que ele fique no fim da tela */
  width: 100%; /* Faz o footer ocupar toda a largura */
  text-align: center; /* Centraliza o texto */
  padding: 1rem; /* Adiciona espaço interno */
}
li {
  list-style: none;
}
.container-quiz {
  background-color: blueviolet;
  border-radius: 10px;
  margin: 30px 30px; /* Reduza para o tamanho que quiser */
  padding: 10px;
}

button {
  background: green;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
}
button:hover {
  padding: 10px;
  background: rgb(6, 152, 6);
}
